**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform.lock.hcl
*.log

*.retry
ansible/collections/
ansible/roles/
*.vault

.DS_Store
Thumbs.db
*.pem
*.pub
id_rsa
**/*.pem
*.un*
**/*.un*
