[Unit]
Description="test"
After=network.target

[Service]
ExecStart=/usr/bin/echo "Hello, World!"
Restart=always

[Install]
WantedBy=multi-user.target